/* Desktop */
@media only screen and (min-width: 768px) {
    .container {
        padding: 0 !important;
        outline: none;
        box-sizing: border-box;
        background-color: #ffff;
    }
    .content {
        /* max-width: 1400px; */
        --bs-gutter-x: 1.5rem;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-right: auto;
        margin-left: auto;
    }

    /* Categories */
    .categories {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
    }
    .headText {
        color: #000;
        font-size: 60px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        line-height: 1.2;
        border-color: #E8E8E8;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-top: 0;
        margin-bottom: 3rem !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
    }
    .rowCategories {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .blockCategories {
        flex: 0 0 auto;
        width: 25%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
    .imgCategories {
        position: relative;
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
        text-align: center !important;
        margin: 0 0 1rem;
    }
    .image {
        /* display: block; */
        overflow: hidden;
        border-radius: 50% !important;
        transform: scale(1);
        transition: all ease .8s;
        max-width: 100%;
        cursor: pointer;
    }
    .titleCategories {
        margin-top: 1rem !important;
    }
    .textCategories {
        font-weight: 600;
        color: #000;
        font-size: 20px;
        margin-top: 8px;
        cursor: pointer;
        text-align: center !important;
        font-family: "Inter", sans-serif;
        line-height: 1.5;
    }
}

/* ------------------------------------------------- */

/* Mobile */
@media only screen and (max-width: 768px) {
    .container {
        padding: 0 !important;
        outline: none;
        box-sizing: border-box;
        background-color: #ffff;
    }
    .content {
        --bs-gutter-x: 1.5rem;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-right: auto;
        margin-left: auto;
    }

    /* Categories */
    .categories {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .headText {
        font-size: 24px;
        color: #000;
        line-height: 1.2;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        border-color: #E8E8E8;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-bottom: 1rem !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
        margin-top: 0;
    }
    .rowCategories {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .blockCategories {
        flex: 0 0 auto;
        width: 50%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
    .imgCategories {
        position: relative;
        text-align: center !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        margin: 0 0 1rem;
    }
    .image {
        display: block;
        overflow: hidden;
        border-radius: 50% !important;
        max-width: 100%;
        cursor: pointer;
        text-align: center !important;
    }
    .titleCategories {
        margin-top: 0.5rem !important;
    }
    .textCategories {
        font-size: 14px;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        color: #000;
        margin-top: 8px;
        cursor: pointer;
        text-align: center !important;
    }
}