    /* Card Food */
    .rowCF {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .boxCF {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }

    /* Popular Categories */
    .rowCtg {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .boxCtg {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }

    /* Spotlight Food */
    .rowSF {
        display: flex;
        flex-wrap: wrap;
        --bs-gutter-y: 0;
        --bs-gutter-x: 0;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .left {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
    .right {
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }


/* Desktop */
@media only screen and (min-width: 768px) {
    .contain {
        background-color: #ffffff;
        margin: auto;
        padding: 0 !important;
        box-sizing: border-box;
    }
    .content {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        /* max-width: 1320px; */
        --bs-gutter-x: 0rem;
        width: 100%;
        /* padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2); */
        margin-right: auto;
        margin-left: auto;
    }

    /* Spotlight Food */
    .left {
        flex: 0 0 auto;
        width: 58.3333333333%;
    }
    .right {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }

    /* Email */
    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        background: #e5d8be;
    }
    .emailBox {
        width: 363px;
    }
    .headTextEmail {
        color: black;
        font-size: 59px;
        font-family: -moz-initial;
        font-weight: bold;
        width: 363px;
        line-height: 60px;
        text-align: center;
        /* margin: 0px 20px 0px 0px; */
    }
    .bodyTextEmail {
        color: black;
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
    }
    .submitEmail {
        display: flex;
        height: 50px;
        width: 400px;
        margin-left: -20px;
    }
    .inputEmail {
        width: 400px;
        height: 50px;
        position: absolute;
        background-color: #ffffff;
        border: none;
        color: black;
        text-align: left;
        padding-left: 10px;
        padding-right: 116px;
        font-size: 20px;
        outline: none;
        border-radius: 3px;
    }
    .btnEmail {
        width: 100px;
        height: 45px;
        text-align: center;
        background: chocolate;
        position: absolute;
        margin-top: 2.5px;
        margin-left: 298px;
        border-radius: 2px;
        cursor: pointer;
        transition-duration: 0.1s;
    }
    .btnEmail:hover{
        background-color: #ff963f;
    }
    .endEmail {
        display: inline-flex;
    }


    /* Card Food */
    .boxCF {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
    
    /* Popular Categories */
    .boxCtg {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }

    /* Hand-Picked Collections */
    .boxHpc {
        max-width: 72rem;
        /* margin: 48px auto 48px auto; */
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        /* box-sizing: border-box;
        --bs-gutter-x: 12.5rem;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2); */
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .collections {
        color: black;
        font-size: 50px;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        width: 1115px;
        margin-inline: auto;
    }
    .hpc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .blockHpc {
        margin: 16px;
    }
    .imageHpc {
        height: 332px;
        width: 540px;
        cursor: pointer;
        overflow: hidden;
        display: block;
        border-radius: 6px 6px 0 0;
        outline: none;
    }
    .titleHpc {
        color: black;
        cursor: pointer;
        position: relative;
        border: 1px solid #D8D8D8;
        border-radius: 0 0 6px 6px;
        outline: none;
        display: flex !important;
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        align-items: flex-end !important;
        justify-content: space-between !important;
    }
    .textHpc {
        width: 315px;
        margin: 0 55px 40px 0;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 30px;
        min-height: 86px;
    }
    .spanHpc {
        border: 1px solid #000000;
        border-radius: 3px;
        font-size: 14px;
        padding: 2px 20px;
        white-space: nowrap !important;
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }

    /* Latest Recipes */
    .boxLr {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        --bs-gutter-x: 2.5rem;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-right: auto;
        margin-left: auto;
        max-width: 72rem;
    }
    .rowRecipes {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .lr {
        flex: 0 0 auto;
        width: 25%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }

}

/* ------------------------------------------------- */

/* Mobile */
@media only screen and (max-width: 768px) {
    .contain {
        background-color: #ffffff;
        padding: 0 !important;
    }
    .content {
        --bs-gutter-x: 1.5rem;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-right: auto;
        margin-left: auto;
    }

    /* Spotlight Food */
    .left {
        flex-shrink: 0;
        width: 100%;
    }
    .right {
        flex-shrink: 0;
        width: 100%;
    }

    /* Card Food */
    .boxCF {
        flex-shrink: 0;
        width: 100%;
    }

    /* Popular Categories */
    .boxCtg {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }

    /* Email */
    .email {
        background-color: #ffd8ca;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        margin: 0px -12px;
    }
    .emailBox {
        --bs-gutter-x: 1.5rem;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-right: auto;
        margin-left: auto;
    }
    .emailRow {
        text-align: center !important;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .headTextEmail {
        font-size: 36px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        margin-bottom: 1rem !important;
        margin-top: 0;
        line-height: 1.2;
        color: #000;
    }
    .bodyTextEmail {
        font-size: 16px;
        font-weight: 400 !important;
        margin-top: 0;
        margin-bottom: 1rem;
        color: #000;
    }
    .submitEmail {
        flex-direction: column;
        border-radius: 3px;
        overflow: hidden;
        margin-top: 1.5rem !important;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .inputEmail {
        width: 100%;
        height: 48px;
        font-size: 14px;
        border-radius: 4px !important;
        border: none;
        position: relative;
        flex: 1 1 auto;
        min-width: 0;
        transition: none;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        min-height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        display: block;
        appearance: none;
        margin: 0;
        font-family: inherit;
        outline: none;
    }
    .btnEmail {
        width: 100%;
        height: 48px;
        font-weight: bold;
        border-radius: 4px;
        padding: 10px 42px;
        font-size: 18px;
        cursor: pointer;
        background-color: #ff642b;
        line-height: 1.5;
        margin-top: 10px;
        transition-duration: 0.1s;
    }
    .btnEmail:hover{
        background-color: #ff963f;
    }
    .endEmail {
        display: inline-flex;
    }
    .endEmail {
        margin-top: 1rem !important;
        display: block !important;
    }

    /* Hand-Picked Collections */
    .boxHpc {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .collections {
        font-size: 24px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-bottom: 0 !important;
        margin-top: 0;
        line-height: 1.2;
        color: #000;
    }
    .hpc {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .blockHpc {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
        margin-bottom: 1rem !important;
    }
    .imageHpc {
        border-radius: 6px 6px 0 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
    .titleHpc {
        border: 1px solid #D8D8D8;
        border-radius: 0 0 6px 6px;
        border-top: 0 !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        align-items: flex-end !important;
        justify-content: space-between !important;
        text-align: right !important;
        padding-bottom: 1.5rem !important;
        padding-top: 1rem !important;
    }
    .textHpc {
        font-size: 30px;
        min-height: 86px;
        padding-right: 0 !important;
        margin-bottom: 1rem !important;
        margin-top: 0;
        line-height: 1.2;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        color: black;
        cursor: pointer;
        text-align: left !important;
    }
    .spanHpc {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        padding: 2px 20px;
        border-radius: 3px;
        display: inline-block;
        line-height: 1.5;
        text-align: center;
        cursor: pointer;
        border: 1px solid black;
        outline: none;
    }

    /* Latest Recipes */
    .boxLr {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .rowRecipes {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .lr {
        flex: 0 0 auto;
        width: 50%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
}
  