/* Desktop */
@media only screen and (min-width: 768px) {
    .contain {
        background-color: #ffffff;
    }
    .content {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* Spotlight Food */
    .boxSpotlight {
        height: 488px;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }
    .imgSpotlight {
        /* cursor: pointer; */
    }
    .textSpotlight {
        background-color: #c5e6e9;
        height: 488px;
        width: 465px;
        padding: 80px 62px;
        /* cursor: pointer; */
    }

    /* Email */
    .emailBox {
        width: 342px;
    }
    .sumbitEmail{
        display: flex;
        height: 50px;
        width: 400px;
        margin-left: -25px;
    }
    .inputEmail {
        width: 400px;
        height: 50px;
        position: absolute;
        background-color: #ffffff;
        border: none;
        color: black;
        text-align: left;
        padding-left: 10px;
        padding-right: 116px;
        font-size: 20px;
    }
    .btnEmail {
        width: 100px;
        height: 45px;
        text-align: center;
        background: chocolate;
        position: absolute;
        margin-top: 2.5px;
        margin-left: 298px;
        border-radius: 2px;
        padding-top: 10px;
        cursor: pointer;
    }

    /* Card Food */
    .boxCard {
        box-sizing: border-box;
        margin-top: 48px;
    }
    .card {
        display: flex;
        justify-content: center;
    }
    .blockCard {
        margin: 16px;
    }
    .imageCard {
        border-radius: 6px;
        height: 243px;
        width: 350px;
        cursor: pointer;
    }
    .voteCard {
        color: rgb(255, 0, 0);
    }
    .textCard {
        color: black;
        cursor: pointer;
        margin-top: -10px;
    }
    
    /* Popular Categories */
    .boxCtg {
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ctg {
        display: flex;
        justify-content: center;
    }
    .blockCtg {
        margin: 16px;
    }
    .imageCtg {
        width: 160px;
        height: 160px;
        margin-top: 10px;
        cursor: pointer;
    }
    .titleCtg {
        color: black;
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
    }

    /* Hand-Picked Collections */
    .boxHpc {
        box-sizing: border-box;
        margin-top: 48px;
        outline: none;
    }
    .hpc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .blockHpc {
        margin: 16px;
        border-radius: 6px;
    }
    .imageHpc {
        height: 243px;
        width: 350px;
        cursor: pointer;
    }
    .titleHpc {
        color: black;
    }
}

/* Mobile */
@media only screen and (max-width: 768px) {
    
}
  