/* Desktop */
@media only screen and (min-width: 768px) {
    .contain {
        background-color: #ffffff;
        /* max-width: 1440px; */
        margin: auto;
    }
    .content {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    /* Spotlight Food */
    .boxSpotlight {
        height: 488px;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
    }
    .imgSpotlight {
        border-radius: 10px 0 0 10px;
    }
    .textSpotlight {
        background-color: #c5e6e9;
        height: 488px;
        width: 465px;
        padding: 80px 62px;
        /* cursor: pointer; */
    }

    /* Email */
    .email {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 350px;
        background: #e5d8be;
    }
    .emailBox {
        width: 342px;
    }
    .headTextEmail {
        color: black;
        font-size: 59px;
        font-family: -moz-initial;
        font-weight: bold;
        width: 342px;
        line-height: 60px;
        text-align: center;
        margin: 0px 20px 0px 0px;
    }
    .bodyTextEmail {
        color: black;
        font-size: 20px;
        text-align: center;
        margin-top: 5px;
    }
    .submitEmail {
        display: flex;
        height: 50px;
        width: 400px;
        margin-left: -25px;
    }
    .inputEmail {
        width: 400px;
        height: 50px;
        position: absolute;
        background-color: #ffffff;
        border: none;
        color: black;
        text-align: left;
        padding-left: 10px;
        padding-right: 116px;
        font-size: 20px;
        outline: none;
        border-radius: 3px;
    }
    .btnEmail {
        width: 100px;
        height: 45px;
        text-align: center;
        background: chocolate;
        position: absolute;
        margin-top: 2.5px;
        margin-left: 298px;
        border-radius: 2px;
        padding-top: 10px;
        cursor: pointer;
    }
    .endTextEmail {
        color: black;
        font-size: 10px;
        width: 342px;
        text-align: center;
    }
    .endEmail {
        display: inline-flex;
    }
    .termsEmail {
        cursor: pointer;
        text-decoration-color: #FF642F;
        text-underline-position: under;
    }
    

    /* Card Food */
    .boxCard {
        box-sizing: border-box;
        margin-top: 48px;
        /* margin: auto; */
    }
    .titleCard {
        color: black;
        font-size: 36px;
        font-family: -moz-initial;
        font-weight: bold;
        width: 1115px;
        margin-inline: auto;
    }
    .card {
        display: flex;
        justify-content: center;
    }
    .blockCard {
        margin: 16px;
    }
    .imageCard {
        border-radius: 6px;
        height: 243px;
        width: 350px;
        cursor: pointer;
    }
    .detailCard {
        position: relative;
    }
    .voteCard {
        color: rgb(255, 0, 0);
    }
    .textCard {
        color: black;
        cursor: pointer;
        margin-top: -10px;
    }
    
    /* Popular Categories */
    .boxCtg {
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
        /* margin: auto; */
    }
    .category {
        color: black;
        font-size: 36px;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        width: 1115px;
        margin-inline: auto;
    }
    .ctg {
        display: flex;
        justify-content: center;
    }
    .blockCtg {
        margin: 16px;
    }
    .imageCtg {
        width: 160px;
        height: 160px;
        margin-top: 10px;
        cursor: pointer;
    }
    .detailCtg {
        position: relative;
    }
    .titleCtg {
        color: black;
        text-align: center;
        margin-top: 10px;
        cursor: pointer;
    }

    /* Hand-Picked Collections */
    .boxHpc {
        box-sizing: border-box;
        max-width: 1150px;
        margin: 48px auto 48px auto;
    }
    .collections {
        color: black;
        font-size: 50px;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        width: 1115px;
        margin-inline: auto;
    }
    .hpc {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .blockHpc {
        margin: 16px;
    }
    .imageHpc {
        height: 332px;
        width: 540px;
        cursor: pointer;
        overflow: hidden;
        display: block;
        border-radius: 6px 6px 0 0;
        outline: none;
    }
    .titleHpc {
        color: black;
        cursor: pointer;
        position: relative;
        border: 1px solid #D8D8D8;
        border-radius: 0 0 6px 6px;
        outline: none;
        display: flex !important;
        padding-top: 1rem !important;
        padding-bottom: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
        align-items: flex-end !important;
        justify-content: space-between !important;
    }
    .textHpc {
        width: 315px;
        margin: 0 55px 40px 0;
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 30px;
        min-height: 86px;
    }
    .spanHpc {
        border: 1px solid #000000;
        border-radius: 3px;
        font-size: 14px;
        padding: 2px 20px;
        white-space: nowrap !important;
        font-family: "Inter", sans-serif;
        font-weight: 500;
    }

    /* Latest Recipes */
    .boxLr {
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        --bs-gutter-x: 1.5rem;
        box-sizing: border-box;
    }
    .recipes {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-bottom: 0 !important;
        font-size: 36px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        line-height: 1.2;
        color: #000;
    }
    .rowRecipes {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .lr {
        flex: 0 0 auto;
        width: 25%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
    .blockLr {
        position: relative;
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
        margin: 0 0 1rem;
        outline: none;
    }
    .imageLr {
        display: block;
        overflow: hidden;
        border-radius: 6px;
        transform: scale(1);
        transition: all ease .8s;
        width: 100% !important;
        max-width: 100%;
        user-select: none;
        vertical-align: middle;
    }

}

/* Mobile */
@media only screen and (max-width: 768px) {
    .contain {
        background-color: #ffffff;
    }
    .content {
        --bs-gutter-x: 1.5rem;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-right: auto;
        margin-left: auto;
    }

    /* Spotlight Food */
    .boxSpotlight {
        background-color: #c5e6e9;
        display: flex;
        flex-wrap: wrap;
        border-radius: 16px;
    }
    .imgSpotlight {
        border-radius: 10px 10px 0 0;
    }
    .boxTextSpotlight {
        padding: 1.5rem !important;
    }

    /* Card Food */
    .boxCard {
        background-color: #ffffff;
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .titleCard {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        color: #000000;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        font-size: 24px;
    }
    .voteCard {
        color: rgb(255, 0, 0);
        margin-top: -16px;
        margin-bottom: -10px;
    }
    .boxImgCard {
        text-align: center;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    .imageCard {
        width: 100%;
        border-radius: 6px;
    }
    .detailCard {
        position: relative;
        height: 80px;
    }
    .textCard {
        color: #000000;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

    /* Popular Categories */
    .boxCtg {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .category {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-bottom: 0 !important;
        font-size: 24px;
        font-weight: 700;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        color: #000;
        line-height: 1.2;
    }
    .ctg {
        display: flex;
        flex-wrap: wrap;
    }
    .blockCtg {
        flex: 0 0 auto;
        width: 33.3333333333%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
    .boxImgCtg {
        position: relative;
        text-align: center !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        margin: 0 0 1rem;
    }
    .imageCtg {
        display: block;
        overflow: hidden;
        border-radius: 50% !important;
        color: #000;
        max-width: 100%;
    }
    .detailCtg {
        position: relative;
        margin-top: 0.5rem !important;
        text-align: center !important;
    }
    .titleCtg {
        font-size: 14px;
        font-weight: 600;
        margin-top: 8px;
        font-family: "Inter", sans-serif;
        color: #000;
        background-color: #fff;
    }

    /* Email */
    .email {
        background-color: #ffd8ca;
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
        margin-top: 3rem !important;
        margin-bottom: 3rem !important;
        margin: 0px -12px;
    }
    .emailBox {
        --bs-gutter-x: 1.5rem;
        width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-right: auto;
        margin-left: auto;
    }
    .emailRow {
        text-align: center !important;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .headTextEmail {
        font-size: 36px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        margin-bottom: 1rem !important;
        margin-top: 0;
        line-height: 1.2;
        color: #000;
    }
    .bodyTextEmail {
        font-size: 16px;
        font-weight: 400 !important;
        margin-top: 0;
        margin-bottom: 1rem;
        color: #000;
    }
    .submitEmail {
        flex-direction: column;
        border-radius: 3px;
        overflow: hidden;
        margin-top: 1.5rem !important;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }
    .inputEmail {
        width: 100%;
        height: 48px;
        font-size: 14px;
        border-radius: 4px !important;
        border: none;
        position: relative;
        flex: 1 1 auto;
        min-width: 0;
        transition: none;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        min-height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        display: block;
        appearance: none;
        margin: 0;
        font-family: inherit;
        outline: none;
    }
    .btnEmail {
        width: 100%;
        height: 48px;
        font-weight: bold;
        border-radius: 4px;
        padding: 10px 42px;
        font-size: 18px;
        cursor: pointer;
        background-color: #ff642b;
        line-height: 1.5;
        margin-top: 10px;
    }
    .endEmail {
        margin-top: 1rem !important;
        display: block !important;
    }
    .endTextEmail {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        color: #000;
        line-height: 1.5;
        font-size: 12px !important;
        text-align: center !important;
        display: block !important;
        margin: 0 55px;
    }
    .termsEmail {
        color: #ff642b;
        text-decoration-color: #FF642F;
        text-underline-position: under;
        cursor: pointer;
    }

    /* Hand-Picked Collections */
    .boxHpc {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .collections {
        font-size: 24px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-bottom: 0 !important;
        margin-top: 0;
        line-height: 1.2;
        color: #000;
    }
    .hpc {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .blockHpc {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
        margin-bottom: 1rem !important;
    }
    .imageHpc {
        border-radius: 6px 6px 0 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
    .titleHpc {
        border: 1px solid #D8D8D8;
        border-radius: 0 0 6px 6px;
        border-top: 0 !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        align-items: flex-end !important;
        justify-content: space-between !important;
        text-align: right !important;
        padding-bottom: 1.5rem !important;
        padding-top: 1rem !important;
    }
    .textHpc {
        font-size: 30px;
        min-height: 86px;
        padding-right: 0 !important;
        margin-bottom: 1rem !important;
        margin-top: 0;
        line-height: 1.2;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        color: black;
        cursor: pointer;
        text-align: left !important;
    }
    .spanHpc {
        color: #000;
        font-weight: 500;
        font-size: 14px;
        padding: 2px 20px;
        border-radius: 3px;
        display: inline-block;
        line-height: 1.5;
        text-align: center;
        cursor: pointer;
        border: 1px solid black;
        outline: none;
    }

    /* Latest Recipes */
    .blockLr {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
    .recipes {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        margin-bottom: 0 !important;
        font-size: 24px;
        font-weight: bold;
        font-family: "Playfair Display", serif;
        margin-top: 0;
        line-height: 1.2;
        color: #000;
    }
    .rowRecipes {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--bs-gutter-y) * -1);
        margin-right: calc(var(--bs-gutter-x) / -2);
        margin-left: calc(var(--bs-gutter-x) / -2);
    }
    .lr {
        flex: 0 0 auto;
        width: 50%;
        max-width: 100%;
        padding-right: calc(var(--bs-gutter-x) / 2);
        padding-left: calc(var(--bs-gutter-x) / 2);
        margin-top: var(--bs-gutter-y);
    }
    .blockLr {
        position: relative;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        margin: 0 0 1rem;
    }
    .imageLr {
        display: block;
        overflow: hidden;
        border-radius: 6px;
        width: 100% !important;
        max-width: 100%;
        user-select: none;
        vertical-align: middle;
    }
}
  