/* Search Desktop */
.container1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container1 input{
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  font-size: 12pt;
  float: right;
  color: #262626;
  padding-left: 32px;
  padding-right: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: rgb(0, 0, 0); 
  -webkit-transition: width .55s ease;
  -moz-transition: width .55s ease;
  -ms-transition: width .55s ease;
  -o-transition: width .55s ease;
  transition: width .55s ease;  
}
.container1 input:-webkit-input-placeholder {
   color: #65737e;
}
.container1 input-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
.container1 input-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
.container1 input:-ms-input-placeholder {  
   color: #65737e;  
}
.container1 .icon{
  position: absolute;
  cursor: pointer;
  top: 50%;
  margin-left: 265px;
  margin-top: 15px;
  z-index: 1;
  color: #4f5b66;
}
  /* ANIMATION EFFECTS */
.container1 input, .container1 input:active{
    outline:none;
}
.container1:hover input{
  outline:none; 
  width: 300px;
  background-color: #b1c1cc;
}
.container1:hover .icon{
  color: #93a2ad;
}

/* Search */
.containerSearch {
  --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-right: auto;
    margin-left: auto;
}



/* Desktop */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1152px;
    background-color: #ffffff;
    --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-right: auto;
    margin-left: auto;
  }

/* Foodter */
.foodter {
  background-color: #f3f3f3 !important;
  padding-top: 3rem !important;
  margin-top: 3rem !important;
}
.contentFoodter {
  max-width: 1152px;
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-right: auto;
  margin-left: auto;
}
.containerFoodter {
  padding-bottom: 3rem !important;
  padding-top: 1.5rem !important;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.foodterLogo {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
}
.foodterIcon {
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: var(--bs-gutter-y);
  text-align: right !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.copyright {
  order: 0 !important;
  flex: 0 0 auto;
  width: 50%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  font-size: 12px !important;
  color: #7F7F7F;
  text-align: left !important;
  margin-bottom: 0 !important;
  margin-top: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.foodterEnd {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  align-items: center !important;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
}

/* ------------------------------------------------- */

/* Mobile */
@media only screen and (max-width: 768px) {
.container {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-right: auto;
  margin-left: auto;
}

.foodter {
  background-color: #f3f3f3 !important;
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5rem;
}

.listMB {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
.titleMB {
  cursor: pointer;
  color: #000;
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: "Inter", sans-serif !important;
  line-height: 1.2;
  padding-bottom: 5px;
  padding-top: 13px !important;
  margin-bottom: 0.5rem !important;
  margin-top: 0;
}
.dropDown {
  cursor: pointer;
  vertical-align: middle;
  display: inline-block !important;
  float: right !important;
}
.boxList {
  display: none;
   position: absolute;
   background-color: #f1f1f1;
   z-index: 1;
}
.boxList li {
  color: black;
  text-decoration: none;
  display: block;
}
.boxList li::hover {
  background-color: #ddd;
}
.listMB:hover .boxList {
  display: block;
}
.itemList {
  list-style: none;
}
.textList {
  color: #7F7F7F;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.foodterEnd {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  align-items: center !important;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
}
.copyright {
  order: 2 !important;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  margin-top: 0;
  margin-bottom: 0 !important;
  text-align: left !important;
  font-size: 12px !important;
  color: #7F7F7F;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.foodterIcon {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) / 2);
  padding-left: calc(var(--bs-gutter-x) / 2);
  text-align: left !important;
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}
}


  