/* Desktop */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 1140px;
    background-color: #ffffff;
    --bs-gutter-x: 1.5rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-right: auto;
    margin-left: auto;
  }
  .content {
    background-color: #fff !important;
    padding: 24px 0;
  }
  .boxMenu {
    padding-right: 0 !important;
    padding-left: 0 !important;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .logoHead {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
  }
  .imgHead {
    max-width: 161px;
    vertical-align: middle;
  }
  .title {
    display: flex !important;
    align-items: center;
    width: 100%;
  }
  .menuHead {
    flex-direction: row;
    padding-top: 0 !important;
    margin: auto !important;
    display: flex;
    list-style: none;
  }
  .titleMenu {
    padding: 0 15px;
    position: relative;
  }
  .textMenu {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #000;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    font-weight: 500;
    transition: none;
    display: block;
    text-decoration: none;
    cursor: pointer;
  }
  .box {
    align-items: center;
    padding-left: 0;
    padding-right: 10px;
  }
  .container1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container1 input{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    font-size: 12pt;
    float: right;
    color: #262626;
    padding-left: 32px;
    padding-right: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    
  }
  
  .container1 input:-webkit-input-placeholder {
     color: #65737e;
  }
  .container1 input-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
  .container1 input-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
  .container1 input:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container1 .icon{
    position: absolute;
    cursor: pointer;
    top: 50%;
    margin-left: 265px;
    margin-top: 15px;
    z-index: 1;
    color: #4f5b66;
  }
    /* ANIMATION EFFECTS */
  .container1 input, .container1 input:active{
      outline:none;
  }
  .container1:hover input{
    outline:none; 
    width: 300px;
    background-color: #93a2ad;
  }
  .container1:hover .icon{
    color: #93a2ad;
  }
.avatar {
  cursor: pointer;
  align-items: center;
}
.imgavatar {
  border-radius: 50% 50% 50% 50%;
}

/* Foodter */
.foodter {
  background-color: #ffffff;
  /* width: 100vw; */
  padding: 25px 0 25px 30px;
  margin: 0;
}
.containerFoodter {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}
.foodterLogo {
  flex: 1 1 0%;
}
.foodterTitle {
  margin-top: 16px;
  width: 32%;
}
.foodterList {
  padding-right: 100px;
  cursor: pointer;
  color: #7a8186;
  height: 30px;
}
.foodterListHead {
  padding-right: 100px;
  color: #000000;
  font-weight: bold;
  height: 30px;
}
.foodterIcon {
  padding-right: 45px;
}
.copyright {
  flex: 1 1;
  color: #7a8186;
}
.foodterEnd {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 16px;
  display: flex;
}

}



/* ////////////////////////////////////////////////// */

/* Mobile */
@media only screen and (max-width: 768px) {

}


  