/* Desktop */
@media only screen and (min-width: 768px) {
  .container {
    background-color: #ffffff;
    width: 100vw;
    /* height: 100vh; */
    padding: 25px 0 25px 30px;
    margin: 0;
    
  }
  .content {
    display: flex;
  }
  .title {
    flex-direction: row;
    align-items: center;
    display: flex;
    padding-left: 200px;
  }
  .titletext {
  color: #000000;
  }
  .box {
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 20px;
  }
  .container1{
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }
  .container1 input{
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    font-size: 12pt;
    float: right;
    color: #262626;
    padding-left: 32px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    
    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
    
  }
  
  .container1 input:-webkit-input-placeholder {
     color: #65737e;
  }
  .container1 input-moz-placeholder { /* Firefox 18- */
     color: #65737e;  
  }
  .container1 input-moz-placeholder {  /* Firefox 19+ */
     color: #65737e;  
  }
  .container1 input:-ms-input-placeholder {  
     color: #65737e;  
  }
  
  .container1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 265px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
    /* ANIMATION EFFECTS */
  .container1 input, .container1 input:active{
      outline:none;
  }
  .container1:hover input{
    outline:none; 
    width: 300px;
    background-color: #93a2ad;
  }
  .container1:hover .icon{
    color: #93a2ad;
  }
.avatar {
  margin-top: 15px;
}
.imgavatar {
  border-radius: 50% 50% 50% 50%;
}
}

/* Mobile */
@media only screen and (max-width: 768px) {

}


  